/********************
* RESET
********************/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

/********************
* FOOTER
********************/

.footer-main {
    margin-bottom: 1rem;
    text-align: center;
}

.attribution {
    font-size: 0.75rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
